<div class="container">
  <div class="row">
    <div class="col-12">
      <app-section-title title="Users"></app-section-title>
    </div>
  </div>
  <div class="row">
    <div class="col-12 table-wrapper">
      <div class="table-responsive">
        <table>
          <thead>
            <tr>
              <th>Username</th>
              <th>Name</th>
              <th>E-mail</th>

              <th>City</th>
              <th>Ride in group</th>
              <th>Day of the week</th>

              <th>Posts</th>
              <th>Albums</th>
              <th>Photos</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of tableData">
              <td>{{user.username}}</td>
              <td>{{user.name}}</td>
              <td>
                <a href="mailto:{{user.email}}" target="_blank">{{user.email}}</a>
              </td>
              <td>
                <a href="https://www.google.com/maps/search/?api=1&query={{user.address.geo.lat}},{{user.address.geo.lng}}" target="_blank" *ngIf="user.address.geo; else cityName">{{user.address.city}}</a>
                <ng-template #cityName>{{user.address.city}}</ng-template>
              </td>
              <td>{{user.rideInGroup}}</td>
              <td>{{user.dayOfTheWeek | weekDaysText}}</td>
              <td>{{user.posts}}</td>
              <td>{{user.albums}}</td>
              <td>{{user.photos}}</td>
              <td><fa-icon [icon]="faTrashAlt" class="remove-icon" (click)="removeUser(user.userId)"></fa-icon></td>
            </tr>
            <tr>
              <td colspan="10" style="text-align: center" *ngIf="tableData.length === 0">No users were found</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>