@import '../../../assets/scss/variables';

.table-wrapper {
  overflow: hidden;
}

.remove-icon {
  color: $color-green;
  opacity: 0;
  transition: all 50ms;
  font-size: 14px;
  margin-right: 10px;
  cursor: pointer;
}

tr:hover .remove-icon{
  opacity: 1;
}

.filter-input {
  align-self: center;
  margin-left: 40px;
  flex: 1;

  &__icon {
    position: absolute;
    z-index: 2;
    top: 15px;
    left: 12px;
    color: $color-grey;
  }

  input {
    padding-left: 30px;
  }
}