<div class="container">
  <div class="row">
    <div class="col-12">
      <app-section-title title="Registration"></app-section-title>
    </div>
  </div>
  <div class="row">
    <div class="form-container">
      <div class="row">
        <div class="col-6 pd-r">
          <div class="custom-input">
            <label>Last Name</label>
            <input class="custom-input" type="text" required>
            <span class="hint">Put a really nice username here.</span>
          </div>
        </div>
        <div class="col-6 pd-l">
          <div class="custom-input">
            <label>City</label>
            <input class="custom-input" type="text">
            <span class="hint">City name here.</span>
            <div class="optional">Optional</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6 pd-r">
          <div class="custom-input">
            <label>Name</label>
            <input class="custom-input" type="text" required>
            <span class="hint">Just some instructions.</span>
          </div>
        </div>
        <div class="col-6 pd-l">
          <div class="custom-input">
            <label>City</label>
            <input class="custom-input" type="text" required>
            <span class="hint">City name</span>
            <div class="optional">Optional</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-6 pd-r">
          <div class="custom-input">
            <label>E-mail</label>
            <input class="custom-input" type="text" required>
            <span class="hint">Just some instructions.</span>
          </div>
        </div>
        <div class="col-6 pd-l">
          <span class="group-desc">Days of the Week</span>
          <label class="custom-checkbox">Sun
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
          <label class="custom-checkbox">Mon
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
          <label class="custom-checkbox">Tue
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
          <label class="custom-checkbox">Wed
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
          <label class="custom-checkbox">Thu
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
          <label class="custom-checkbox">Fri
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
          <label class="custom-checkbox">Sat
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>