@import "../../../assets/scss/variables";

.post-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 250px;
}

.user-post {
  padding: 20px;
  border-radius: 4px;
  display: inline-block;
  margin: 1rem;
  position: relative;
  width: 100%;

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  &__title {
    color: $color-green;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }

  &__comments {
    
  }
}

.comments {
  &__title {
    margin: 10px 0 0;
    font-weight: 600;
    color: $color-green;
    display: inline-block;
  }

  &__area {
    padding: 10px;
  }
}

.comment{
  margin-bottom: 10px;
}
