@import "../../../assets/scss/variables";

.sport-info {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 0;
  background: lighten($color-green, 40%);
}

.info-item {
  display: flex;
  align-items: center;
  margin-right: 50px;

  &__icon {
    color: lighten($color-green, 5%);
    font-size: 48px;
    margin-right: 16px;
  }
}

.info-text {
  p {
    &:first-child {
      color: lighten($color-dark, 20%);
      font-weight: 300;
    }
    &:last-child {
      color: $color-dark;
      font-size: 28px;
      font-weight: 600;
    }
  }
}
